.flex {
  background-color: #faf5f5;
  text-align: center;

  @include breakpoint-up(large) {
    padding: 4rem;
  }

  h3 {
    margin: 0;
    padding-top: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    color: $veryDarkGrayishBlue;
  }

  &__container {
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__items {
    padding: 3.5rem 2rem;

    img {
      border-radius: 50%;
      filter: grayscale(50%);
      width: 6rem;
    }

    p {
    }

    span {
      font-size: 0.9rem;
      color: $veryDarkGrayishBlue;
      font-weight: 600;
    }
  }

  &__paragraph {
    margin: 2rem 0;

    @include breakpoint-up(large) {
      font-size: 0.8rem;
    }
  }

  &__author {
    color: $veryDarkDesaturatedBlue;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
